---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list with items"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c60a9cd2-88f7-4551-8514-463fa437edcd
    body:
      encoding: UTF-8
      string: '{"name":"list with items","src":"http://todoable.teachable.tech/api/lists/c60a9cd2-88f7-4551-8514-463fa437edcd","id":"c60a9cd2-88f7-4551-8514-463fa437edcd"}'
  recorded_at: Mon, 29 Jan 2018 03:21:52 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/c60a9cd2-88f7-4551-8514-463fa437edcd/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"my item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c60a9cd2-88f7-4551-8514-463fa437edcd/items/0ff3ce5c-b34f-4b12-ba9e-0f29fb361891
    body:
      encoding: UTF-8
      string: '{"name":"my item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/c60a9cd2-88f7-4551-8514-463fa437edcd/items/0ff3ce5c-b34f-4b12-ba9e-0f29fb361891","id":"0ff3ce5c-b34f-4b12-ba9e-0f29fb361891"}'
  recorded_at: Mon, 29 Jan 2018 03:21:52 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/c60a9cd2-88f7-4551-8514-463fa437edcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"list with items","items":[{"name":"item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/0e45dbe3-b662-4680-ba08-a060a65b9428/items/f6be6d0c-9edf-452a-b26d-be36091c56d6","id":"f6be6d0c-9edf-452a-b26d-be36091c56d6"},{"name":"item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/0e45dbe3-b662-4680-ba08-a060a65b9428/items/fda593da-ba5d-4f2b-836f-987395a530ef","id":"fda593da-ba5d-4f2b-836f-987395a530ef"},{"name":"item1","finished_at":"2018-01-29T03:13:01.588Z","src":"http://todoable.tea[...]
