---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"my list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/3f1261f6-09f1-4689-b935-30c48517bb23
    body:
      encoding: UTF-8
      string: '{"name":"my list","src":"http://todoable.teachable.tech/api/lists/3f1261f6-09f1-4689-b935-30c48517bb23","id":"3f1261f6-09f1-4689-b935-30c48517bb23"}'
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
recorded_with: VCR 4.0.0
