---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list 3"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5d777fa3-ecd5-48fc-ad4f-a330a4207b25
    body:
      encoding: UTF-8
      string: '{"name":"list 3","src":"http://todoable.teachable.tech/api/lists/5d777fa3-ecd5-48fc-ad4f-a330a4207b25","id":"5d777fa3-ecd5-48fc-ad4f-a330a4207b25"}'
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/5d777fa3-ecd5-48fc-ad4f-a330a4207b25
    body:
      encoding: UTF-8
      string: '{"list":{"name":"my new list!"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: my new list! updated
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/5d777fa3-ecd5-48fc-ad4f-a330a4207b25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"my new list!","items":[{"name":"this be an item","finished_at":"2018-01-28T23:46:22.604Z","src":"http://todoable.teachable.tech/api/lists/5eb08e73-0c96-4295-9e8a-5307240c3b62/items/245d4e49-c2be-4e3f-86de-b9412b1fed98","id":"245d4e49-c2be-4e3f-86de-b9412b1fed98"},{"name":"this
        be an item","finished_at":"2018-01-28T23:46:22.684Z","src":"http://todoable.teachable.tech/api/lists/05a397d1-5868-440f-aa53-83efbed342a2/items/dac756eb-48cd-4299-8245-7db8e901973c","id":"dac756eb-48cd-4299-8245-7db8e901973c"},{"name":"Feed
        the cat","finished_at":"2018[...]
