---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list 1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/b7faac15-f221-4e09-8646-0e125fd0d028
    body:
      encoding: UTF-8
      string: '{"name":"list 1","src":"http://todoable.teachable.tech/api/lists/b7faac15-f221-4e09-8646-0e125fd0d028","id":"b7faac15-f221-4e09-8646-0e125fd0d028"}'
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
[...]
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"my list","src":"http://todoable.teachable.tech/api/lists/3f1261f6-09f1-4689-b935-30c48517bb23","id":"3f1261f6-09f1-4689-b935-30c48517bb23"},{"name":"list
        1","src":"http://todoable.teachable.tech/api/lists/b7faac15-f221-4e09-8646-0e125fd0d028","id":"b7faac15-f221-4e09-8646-0e125fd0d028"},{"name":"list
        2","src":"http://todoable.teachable.tech/api/lists/d436923f-764a-4131-942d-c91214148130","id":"d436923f-764a-4131-942d-c91214148130"}]}'
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
recorded_with: VCR 4.0.0
