---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list 4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/2e2368b6-c1f4-4c23-a4c7-59fa472073a8
    body:
      encoding: UTF-8
      string: '{"name":"list 4","src":"http://todoable.teachable.tech/api/lists/2e2368b6-c1f4-4c23-a4c7-59fa472073a8","id":"2e2368b6-c1f4-4c23-a4c7-59fa472073a8"}'
  recorded_at: Mon, 29 Jan 2018 03:21:52 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/2e2368b6-c1f4-4c23-a4c7-59fa472073a8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jan 2018 03:21:52 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"my list","src":"http://todoable.teachable.tech/api/lists/3f1261f6-09f1-4689-b935-30c48517bb23","id":"3f1261f6-09f1-4689-b935-30c48517bb23"},{"name":"list
        1","src":"http://todoable.teachable.tech/api/lists/b7faac15-f221-4e09-8646-0e125fd0d028","id":"b7faac15-f221-4e09-8646-0e125fd0d028"},{"name":"list
        2","src":"http://todoable.teachable.tech/api/lists/d436923f-764a-4131-942d-c91214148130","id":"d436923f-764a-4131-942d-c91214148130"},{"name":"list
        6","src":"http://todoable.teachable.tech/api/lists/dfdfea80-091a-4fbb-a9c3-525ff0cba0de","id":"dfdfea80-091a-4fbb-a9c3-525ff0cba0de"},{"name":"my
        new list!","src":"http://todoable.teachable.tech/api/lists/5d777fa3-ecd5-48fc-ad4f-a330a4207b25","id":"5d777fa3-ecd5-48fc-ad4f-a330a4207b25"}]}'
  recorded_at: Mon, 29 Jan 2018 03:21:52 GMT
recorded_with: VCR 4.0.0
