---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list 6"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/dfdfea80-091a-4fbb-a9c3-525ff0cba0de
    body:
      encoding: UTF-8
      string: '{"name":"list 6","src":"http://todoable.teachable.tech/api/lists/dfdfea80-091a-4fbb-a9c3-525ff0cba0de","id":"dfdfea80-091a-4fbb-a9c3-525ff0cba0de"}'
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list 6"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="my-api-token"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Mon, 29 Jan 2018 03:21:51 GMT
recorded_with: VCR 4.0.0
